Django>=5.0,<6.0
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
gunicorn
python-decouple
celery
redis
django-cors-headers
pandas
openpyxl
pyxlsb
pyodbc>=4.0.39
snowflake-connector-python>=3.6
pymongo>=4.6

lightgbm
shap
hijri-converter
scikit-learn

requests==2.33.1